branches:
  only:
    - master
sudo: false
language: node_js
install:
  - npm install gitbook-cli -g
node_js: '4.1'
script:
  - '[ "$TRAVIS_PULL_REQUEST" = "false" ] && make publish || make'
env:
  global:
    secure: "CBgmtCbNAdByB8Fs8J6fdNR4dkN25Vp45Kja08jh2s0eDEn4L9lFCDziq3A8xq2rG0M0LMsRA+5cNXzYBK4N/XI/uW2qkL2t9Y8v9mjhl0N9v7oqjsHjULYl+tIVUdYQFyZDFFNCtODlf36DzpVJBBAlx1iFFpETUB21UrTqsv4p2T89acQXsvlMRZsuF17HnnNCv3EuUNNKe8koT9HWAhaDM5a4qqmCK5MQu+tnObNokIKhwC+26eMRoBVr8EU4+j/rMNXBvQk1g69ytGOs7w/GW0/N8s29BsxG1Ccqh5IE26zRnr9/zJlN46UuZWeaJmialvBJ8t3CA9xlfCZBY9zEdpWxu6E7F8ohizAb4Nz+maF5cBlxsQnxEUkZZqY44+Jo9iomorcV7lj/bq4NYLa+yZhBFLfYMRQFcdIgJKtGZYTfKEByR5AKXP/7IPJ2MvAkP6UPqFJ2kjE3oZZfwwgkrPRopeHEr8yJXkNKOp49cR+saSxun7TaZG0GVLvD5bpidgC4IpZWXbJWZ5uVFsv3jmP1RIp18nHr7+8dQJLZenXSnO7As45IMARWKd+J3nBr8FNcKc7U30TsSnQJxrgHjDPuR+wcDUwZxc72UNz7PrDeZ6TRub1EPz6LIR7ad+trucpiRO9GiVd2Lf2lmaNQeMGJB0/ctFkPEAZCOmk="
